[alias]
	graph = log --all --graph --decorate --oneline
[user]
	email = hgrpoiu@gmail.com
	name = JQM
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = vim
[init]
	defaultBranch = main
