[alias]
	graph = log --all --graph --decorate --oneline
[user]
	email = mcind028@umn.edu
	name = Joey
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
